*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 217, 113);
}

.image-container {
    background-color: black;
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    border-radius: 20px;
    border: 5px solid rgb(60, 193, 255);

    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(60, 193, 255);
}

.image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image > .image-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.image > .image-cover > h1 {
    font-size: 120px;
    color: white;
}

.btns-container {
    margin: 20px;
}

.btns-container > .btn {
    background-color: transparent;
    border-radius: 50%;
    border: 5px dotted;
    font-size: 14px;
    font-weight: 700;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btns-container > .btn-start {
    color: green;
}

.btns-container > .btn-stop {
    color: red;
}

.btns-container > .btn:hover {
    background-color: rgb(60, 193, 255);
    color: rgb(255, 255, 255);
    border: none;
}
